<mat-card>
  <mat-card-title>Confirmar Exclusão de um </mat-card-title>
  <form #form="ngForm" >
    <label class="label-input" for="nome">Nome da Playlist</label>
    <mat-form-field appearance="outline">
      <input
      id="nome"
      name="nome"
      class="validate"
      matInput
      type="text"
      placeholder="Preencha o Nome do tema"
      [(ngModel)]="playlist.nome"
      disabled
      />
    </mat-form-field>


  </form>
  <button mat-raised-button (click)="deleteplaylist()"  color="warn">
    Excluir
  </button>

  <button mat-raised-button  >
    Cancelar
  </button>
</mat-card>

