<div class="flex-box container-box">
  <div class="sobre">
    <div class="div-h1">
      <h1>Sobre esse Programa</h1>

    </div>

    <div class="div-span">
      <span>Este aplicativo, que está em fase de MVP, irá auxiliar o DJ a planejar seus eventos e festas.Inicialmente teremos um cadastro de eventos, onde podemos armazenar as festas programadas com nome, local data e se o mesmo está confirmado.</span>
    </div>


    <button mat-raised-button color="primary" class="btn-voltar" (click)="voltar()">Voltar</button>

  </div>

</div>

