<mat-card>
  <mat-card-title>Novo Tema</mat-card-title>
  <form #form="ngForm" >
    <label class="label-input" for="nome">Nome do Tema *</label>
    <mat-form-field appearance="outline">
      <input
      id="nome"
      name="nome"
      class="validate"
      matInput
      type="text"
      placeholder="Preencha o Nome do tema"
      [(ngModel)]="tema.nome"
      pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
      #nome="ngModel"
      required
      />
    </mat-form-field>
    <div class="danger-text" [hidden]="nome.valid || nome.untouched" >Por favor informar o nome do tema</div>

    <label class="label-input" for="nome">Descrição *</label>
    <mat-form-field appearance="outline">
      <input
      id="descricao"
      name="descricao"
      matInput
      placeholder="Preencha a descrição do Tema"
      [(ngModel)]="tema.descricao"
      pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
      #local="ngModel"
      required
      />
    </mat-form-field>
    <div class="danger-text" [hidden]="local.valid || local.untouched" >Por favor informar o nome do tema</div>


  </form>
  <button mat-raised-button (click)="updatetema()" [disabled]="!form.valid" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()" >
    Cancelar
  </button>
</mat-card>




