<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side"
  opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item>
        <i class="material-icons">
          home
        </i>
        Inicio
      </a>
      <a mat-list-item>
        <i class="material-icons">
          event
        </i>
        Eventos
      </a>
      <a mat-list-item>
        <i class="material-icons">
          celebration
        </i>
        Temas
      </a>
      <a mat-list-item>
        <i class="material-icons">
          playlist_play
        </i>
        Musicas
      </a>
      <a mat-list-item>
        <i class="material-icons">
          info
        </i>
        Sobre
      </a>


    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
