<mat-card>
  <mat-card-title>Novo Evento</mat-card-title>
  <form #form="ngForm" >
    <label class="label-input" for="nome">Nome do Evento *</label>
    <mat-form-field appearance="outline">
      <input
      id="nome"
      name="nome"
      class="validate"
      matInput
      type="text"
      placeholder="Preencha o Nome do Evento"
      [(ngModel)]="evento.nome"
      pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
      #nome="ngModel"
      required
      />
    </mat-form-field>
    <div class="danger-text" [hidden]="nome.valid || nome.untouched" >Por favor informar o nome do evento</div>

    <label class="label-input" for="nome">Local do Evento *</label>
    <mat-form-field appearance="outline">
      <input
      id="local"
      name="local"
      matInput
      placeholder="Local"
      [(ngModel)]="evento.local"
      pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
      #local="ngModel"
      required
      />
    </mat-form-field>
    <div class="danger-text" [hidden]="local.valid || local.untouched" >Por favor informar o nome do evento</div>

    <!-- <label class="label-input" for="nome">Data do Evento *</label>
    <mat-form-field appearance="outline">
      <input
      id="data"
      name="data"
      type="text"
      matInput
      placeholder="Data"
      [(ngModel)]="evento.data"
       pattern="[^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$]*"
      #data="ngModel"
      required
      />
    </mat-form-field>
    <div class="danger-text" [hidden]="data.valid || data.untouched" >Por favor informar uma data valida para o evento</div> -->


    <label class="label-input" for="nome">Data do Evento</label>
    <mat-form-field appearance="outline">
      <input  id="data" name="data" matInput [matDatepicker]="picker" placeholder="Escolha  data do evento">
      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <!-- <mat-error *ngIf="studentForm.get('dateOfBirth').hasError('required')">
        Valid date required.
      </mat-error>     -->
    </mat-form-field>


    <label class="label-input" for="nome">Tipo do Evento *</label>
    <mat-form-field appearance="outline">
      <input
      id="tipo"
      name="tipo"
      matInput
      placeholder="Tipo"
      [(ngModel)]="evento.tipo"
       pattern="[a-zA-Z ]*"
      #tipo="ngModel"
      required
      />
    </mat-form-field>
    <div class="danger-text" [hidden]="tipo.valid || tipo.untouched" >Por favor informar o nome do evento</div>


      <mat-checkbox [(ngModel)]="evento.confirmado" name="confirmado">Confirmado</mat-checkbox>

  </form>
  <button mat-raised-button (click)="createEvento()" [disabled]="!form.valid" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()" >
    Cancelar
  </button>
</mat-card>


